<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add News</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="addNews()">
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="countryNews">Country</label>
            <select class="form-control" [(ngModel)]="countrySelected" name="country" required>
              <option selected="selected">- Select a Country -</option>
              <option>Worldwide</option>
              <option *ngFor="let country of this.covidService.getCountriesNames()">
              {{country}}
              </option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <label for="descriptionInput">Description</label>
            <input
              type="text"
              id="descriptionInput"
              name="descriptionInput"
              class="form-control"
              [(ngModel)]="description"
              required
              placeholder="Type a description"
            />
          </div>
        </div>
        <button class="btn btn-primary" [disabled]="description == undefined || countrySelected == undefined || countrySelected == '- Select a Country -'" data-dismiss="modal">Add</button>
      </form>
    </div>
  </div>
</div>


